<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <title>Lem In</title>
  <link rel="stylesheet" href="../../static/styles/main.css" />
</head>
<body>
  <section class="right-panel">
    <a href="../../index.html" class="home">Accueil</a>
    <div class="illustration-large">
      <img class="image-large" src="../../static/assets/lem-in-big.png">
    </div>
    <div class="details">
      <div class="general">Description générale</div>
      <div class="right-column">
        <div class="experiences">Exemples / Expériences</div>
        <div class="code-desc">Description du code</div>
      </div>
    </div>
  </section>
  <footer>
    <p>© 2025 Nathan PACCOUD - Tous droits réservés.</p>
  </footer>
</body>
</html>
