<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>À propos de moi</title>
  <link rel="stylesheet" href="../static/styles/about.css" />
</head>
<body>
    <a href="../index.html" class="home">Accueil</a>

  <header class="about-header">
    <h1 class="section-title">À propos de moi</h1>
    <p class="intro-text fade-in">
      Sensible à la logique des systèmes autant qu’à l’expérience utilisateur, j’aborde chaque projet comme un équilibre à trouver entre structure technique, lisibilité du code et fluidité d’usage. Mon objectif n’est pas seulement de faire fonctionner un ensemble, mais de le rendre compréhensible, évolutif et agréable à manipuler.
    </p>
  </header>

  <section class="about-section fade-in">
    <h2>Parcours</h2>
    <p>
      Initialement formé en mathématiques, j’ai choisi de me réorienter après l’obtention de ma licence afin de me consacrer au développement logiciel. Cette transition m’a conduit vers une formation FullStack, structurée autour de projets collaboratifs mêlant algorithmie, développement web, et architecture technique. Le parcours inclut également des spécialisations à choix, permettant d’approfondir des domaines comme la cybersécurité, le DevOps, ou encore l’intelligence artificielle.
    </p>
  </section>

  <section class="about-section fade-in">
    <h2>Philosophie de développement</h2>
    <p>
      Pour moi, le développement est avant tout un travail d’équipe. J’accorde une grande importance à la clarté du code, à sa structure, et à sa capacité à être réutilisé et compris par tous. Chaque projet est une opportunité de construire des fondations solides, où les choix techniques servent autant la maintenabilité que la collaboration. J’aime concevoir des architectures lisibles, modulaires et cohérentes, qui facilitent les échanges, les évolutions, et le plaisir de coder ensemble.
    </p>
  </section>

  <section class="about-section fade-in">
    <h2>Ce que je recherche</h2>
    <p>
      Travailler avec des personnes curieuses, exigeantes et ouvertes. Continuer à apprendre, à affiner mes outils, et à construire des choses qui ont du sens.
    </p>
  </section>

  <section class="about-section fade-in">
    <h2>Mes valeurs personnelles</h2>
    <p>
      Au-delà du code, je place l’humain au cœur de mon parcours. Le respect, la bienveillance et l’entraide sont pour moi des piliers essentiels, tant dans le travail d’équipe que dans la vie quotidienne. Sensible aux enjeux sociaux, je m’investis bénévolement dans des associations comme les Restos du Cœur et des associations de lutte contre les discriminations, où je contribue à des actions solidaires et inclusives. Ces engagements nourrissent ma vision du développement : créer des outils utiles, accessibles, et porteurs de sens.
    </p>
  </section>

  <footer>
    <p>© 2025 Nathan PACCOUD - Tous droits réservés.</p>
  </footer>
</body>
</html>
